<div>
    <div class="heading">
        <h2>Simple & Beautiful Interface</h2>
        <div class="line"></div>
        <p>Salon Online App Is Your go-to platform for hassle-free appointments.Here's how it Works:</p>
    </div>
    <div class="swiper-container">
        <swiper-container [slidesPerView]="5" [spaceBetween]="6" [loop]="true" [effect]="'coverflow'">
            <swiper-slide><img src="../../../assets/slider1.jpg" alt="1" height="400px" /></swiper-slide>
            <swiper-slide><img src="../../../assets/slider2.jpg" alt="1" height="400px" /></swiper-slide>
            <swiper-slide><img src="../../../assets/slider3.jpg" alt="1" height="400px"/></swiper-slide>
            <swiper-slide><img src="../../../assets/slider4.jpg" alt="1"  height="400px"/></swiper-slide>
            <swiper-slide><img src="../../../assets/slider5.jpg" alt="1" height="400px"/></swiper-slide>
            <swiper-slide><img src="../../../assets/slider6.jpg" alt="1" height="400px"/></swiper-slide>
            <swiper-slide><img src="../../../assets/slider7.jpg" alt="1" height="400px"/></swiper-slide>
            <swiper-slide><img src="../../../assets/slider5.jpg" alt="1" height="400px"/></swiper-slide>
        </swiper-container>
    </div>
    <div class="card">
        <div class="first">
            <h2>Design And Worked By the Latest Integration</h2>
            <span>A private limited is a most popular type of partnership</span>
            <span> Malta.The limited liability,infact the only type of the</span>
            <span>company allowed by the companies.</span><br>
            <a href="#">Discover ></a>
        </div>
        <div class="second">
            <img src="assets/collage.png" alt="">
        </div>
    </div>
</div>