<div class="features">
    <div class="heading">
        <h2>AWESOME APP FEATURES</h2>
        <div class="line"></div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam vitae optio adipisci impedit odio,</p>
    </div>
    <div class="card">
        <div class="first">
            <div class="info">
                <div class="head">
                <img src="../../../assets/setting.svg" alt="icon"/>
                <h4>Registration</h4>
            </div>
                <div class="caption">
                    Getting Started With Barbar App is a breeze.Signup With Few Simple Steps, and you will br ready to book your first Appointment.
                </div>
            </div>
            <div class="info">
                <div class="head">
                <img src="../../../assets/profile.svg" alt="icon"/>
                <h4>Setting Up Your Appointment</h4>
            </div>
                <div class="caption">
                    Selecting Your Appointment Date and Time is a snap with Barber App.You Have the flexibility to choose what works best for you.
            </div>
            <div class="info">
                <div class="head">
                <img src="../../../assets/icon.svg" alt="icon"/>
                <h4>Appointment Confirmaton</h4>
            </div>
                <div class="caption">
                   Once you have Selected you preffered time and service.confirm your Appointment with a single tab.You are all set.
                </div>
            </div>
        </div>
       
    </div>
    <div class="img">
        <img src="../../../assets/banner.png" alt="banner" height="600px" width="90%">
    </div>
    <div class="first">
        <div class="info">
            <div class="head">
            <img src="../../../assets/setting.svg" alt="icon"/>
            <h4>Registration</h4>
        </div>
            <div class="caption">
                Getting Started With Barbar App is a breeze.Signup With Few Simple Steps, and you will br ready to book your first Appointment.
            </div>
        </div>
        <div class="info">
            <div class="head">
            <img src="../../../assets/profile.svg" alt="icon"/>
            <h4>Setting Up Your Appointment</h4>
        </div>
            <div class="caption">
                Selecting Your Appointment Date and Time is a snap with Barber App.You Have the flexibility to choose what works best for you.
        </div>
        <div class="info">
            <div class="head">
            <img src="../../../assets/icon.svg" alt="icon"/>
            <h4>Appointment Confirmaton</h4>
        </div>
            <div class="caption">
               Once you have Selected you preffered time and service.confirm your Appointment with a single tab.You are all set.
            </div>
        </div>
    </div>
   
</div>
</div>
</div>