<div class="about">
    <div class="numbers">
      <div class="values " [@counterAnimation]>
        <span>{{ numbers[0].value }}</span>
        <p>{{ numbers[0].label }}</p>
      </div>
      <div class="values" [@counterAnimation]>
        <span>{{ numbers[1].value }}</span>
        <p>{{ numbers[1].label }}</p>
      </div>
      <div class="values" [@counterAnimation]>
        <span>{{ numbers[2].value }}</span>
        <p>{{ numbers[2].label }}</p>
      </div>
      <div class="values" [@counterAnimation]>
        <span>{{ numbers[3].value }}</span>
        <p>{{ numbers[3].label }}</p>
      </div>
    </div>

    <div class="cardcon" [@cardAnimation] >
        <div class="card1 "  >
            <div class="icon">
                <img src="../../../assets/Group.svg" alt="icon"/>
            </div>
            <h5>Fully Secured</h5>
            <p>We use a customized application specifically designed a testing  to take away for people</p>
        </div>
        <div class="card2 " >
            <div class="icon">
                <img src="../../../assets/Group (1).svg" alt="icon"/>
            </div>
            <h5>Easy To Edit</h5>
            <p>We use a customized application specifically designed a testing  to take away for people</p>
        </div>
        <div class="card1 ">
            <div class="icon">
                <img src="../../../assets/Group (2).svg" alt="icon"/>
            </div>
            <h5>Design & Branding</h5>
            <p>We use a customized application specifically designed a testing  to take away for people</p>
        </div>
    </div>
</div>